In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
y=df.median_house_value
x=df.drop('median_house_value', axis=1)

In [6]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [7]:
y_train

8880     500001.0
14573    283800.0
10140    125000.0
20065    112600.0
19583     79200.0
12818    105300.0
17317    215200.0
16491    156500.0
10664    198300.0
5905     160300.0
8094     162500.0
3656     186300.0
19633    250000.0
4081     376100.0
5282     500001.0
10565    148400.0
13295    122800.0
7063     179800.0
17997    280400.0
15115    151400.0
9086     126800.0
6242     160700.0
8509     238000.0
7229     173900.0
13472    122400.0
1115      84000.0
6084     188300.0
19221    213300.0
16918    500001.0
16002    322600.0
           ...
11799    191400.0
9129     137200.0
7339     157800.0
16705    329700.0
10954    235500.0
19413    161100.0
17397     90200.0
886      220800.0
16943    296400.0
4383     230800.0
2166      71600.0
14771    103200.0
3546     262100.0
18076    500001.0
7548     155600.0
11186    220800.0
7791     120300.0
19871     50600.0
18940    171300.0
221      151000.0
4721     278500.0
5996     117800.0
6035     113200.0
14353    125000.0
5879     267900.0
349       88800.0
8574     500001.0
16312     98900.0
15892    195100.0
17418    120400.0
Name: median_house_value, Length: 16512, dtype: float64

In [8]:
y_train.isnull().sum()

0

In [9]:
y_test.isnull().sum()

0

In [10]:
x_test['longitude'].isnull().sum()

0

In [11]:
x_test['latitude'].isnull().sum()

0

In [12]:
x_test['housing_median_age'].isnull().sum()

0

In [13]:
x_test['total_rooms'].isnull().sum()

0

In [14]:
x_test['total_bedrooms'].isnull().sum()

48

In [15]:
x_test['total_bedrooms']=x_test['total_bedrooms'].fillna(value=x_test['total_bedrooms'].median())

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
x_test['population'].isnull().sum()

0

In [17]:
x_test['households'].isnull().sum()

0

In [18]:
x_test['ocean_proximity'].isnull().sum()

0

In [19]:
x_test['ocean_proximity'].replace(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN'], [1, 2, 3, 4], inplace=True)

D:\anaconda\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [20]:
x_train['ocean_proximity'].replace(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN'], [1, 2, 3, 4], inplace=True)

D:\anaconda\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [21]:
x_train['longitude'].isnull().sum()

0

In [22]:
x_train['latitude'].isnull().sum()

0

In [23]:
x_train['housing_median_age'].isnull().sum()

0

In [24]:
x_train['total_rooms'].isnull().sum()

0

In [25]:
x_train['total_bedrooms'].isnull().sum()

159

In [26]:
x_train['total_bedrooms']=x_train['total_bedrooms'].fillna(value=x_train['total_bedrooms'].median())

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
x_train['population'].isnull().sum()

0

In [28]:
x_train['households'].isnull().sum()

0

In [29]:
x_train['median_income'].isnull().sum()

0

In [30]:
x_test['median_income'].isnull().sum()

0

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
regress=LinearRegression()

In [33]:
x_train['ocean_proximity'].replace(['ISLAND'], [0], inplace=True)

D:\anaconda\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [34]:
regress.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [35]:
x_test['ocean_proximity'].replace(['ISLAND'], [0], inplace=True)
y1=regress.predict(x_test)

D:\anaconda\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [36]:
y1

array([112224.95324266, 240132.2169189 , 149356.22159406, ...,
       220610.74544385, 226833.90597307, 132291.06647814])

In [37]:
y_test

11968     83400.0
17286    335000.0
11161    219600.0
6809     192500.0
2449     120900.0
6288     330400.0
20472    190400.0
9459      71500.0
18211     40000.0
5215      91300.0
1387     294100.0
2295      90600.0
7509     110600.0
1990      44800.0
1102      67500.0
6268     161200.0
3568     234900.0
8536     240000.0
317       84600.0
6890     183300.0
17332    292900.0
12179    104200.0
18830     54400.0
2607     102700.0
15246    492500.0
5553     247600.0
2464      76800.0
8729     234800.0
17350    164000.0
4749     259400.0
           ...
8862     500001.0
9921     238700.0
12465    142000.0
6529     173900.0
13176    289600.0
20024     64600.0
13966    157100.0
5371     254200.0
19589    171400.0
9525     161900.0
14211    125800.0
8986     228300.0
11910    123400.0
10568    350500.0
14973    143200.0
2154      73000.0
15480    193200.0
18605    204100.0
16727    250600.0
4290     250000.0
4236     500001.0
2508      74400.0
2986      53800.0
10626    379800.0
9275     228600.0
14666    174900.0
7540     103200.0
18529    255400.0
11676    197200.0
2997     100200.0
Name: median_house_value, Length: 4128, dtype: float64